
<%= render 'left_sidebar' %>

<div class="container">
  <div class="row">
    <div class="col-8">
      Movie Section
      
      <%= form_with(url: '/search', method: :get, local: true) do |f|%>
        <div class='field'>
          <%= f.text_field :q %>
          <%= f.submit 'Search' %>
        </div>
      <% end %>

      <% if @title %>
        <%= render 'search/search_card' %>
      <% end %>

      <%= render 'movie/movie'%>
    </div>

    <div class="col-4 right-sidebar">
      Follow Section
      <% @non_followings.each do |u|%>
        <div>
          <img src="<%= url_for(u.avatar)%>">
          <%= u.name %>
          <%= button_to 'Follow', followings_path(followed_id:u.id), method:'post' %>
        </div>        
      <% end %>
    </div>
  </div>
</div>
